../polysampler/experimentation/sampler1/gallery/svg-stash
svg-stash
gallery
polysampler/experimentation/sampler1/gallery/svg-stash

# input data
data

# generated movie, image and (cached) data files
output
